/* GENRELLE INDSTILLINGER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

section {
    max-width: 1200;
    margin: 0;
}

h2 {
    font-family: 'Tinos', serif;
    font-size: 1.4rem;
}

p {
    font-family: 'Tinos', serif;
    line-height: 1.7rem;
}












/* MENU */


/* unvisited link */
header nav a:link {
    color: #ef2020;
}

/* visited link */
header nav a:visited {
    color: #ef2020;
}

/* mouse over link */
header nav a:hover {
    color: #ff7474;
}

/* selected link */
header nav a:active {
    color: #ff7474;
}


header {
    width: 100%;
    position: fixed;
}

header nav a {
    padding: 0;
    margin: 3rem 3rem 0 3rem;

    text-decoration: none;
    font-size: 1.5rem;
}

#burgericon {
    display: none;
    margin: 0;
}

@media screen and (min-width: 831px) {
    .menu_top {
        display: flex;
        justify-content: center;
    }
}


/* TIL BURGER */

@media screen and (max-width:830px) {
    .menu_top a {
        display: none;
    }

    .menu_top a#burgericon {
        float: right;
        display: block;
    }
}











/* Togglemenu */

.hide {
    visibility: hidden;
}

.toggle_menu {
    position: fixed;
    right: 0;
    padding: 0 5px;
    background-color: rgba(229, 229, 229, 0.84);
}


.toggle_menu ul {
    list-style-type: none;
    padding: 1.5rem;
}

/* unvisited link */
.toggle_menu a:link {
    color: #ef2020;
}

/* visited link */
.toggle_menu a:visited {
    color: #ef2020;
}

/* mouse over link */
.toggle_menu a:hover {
    color: #ff7474;
}

/* selected link */
.toggle_menu a:active {
    color: #ff7474;
}


.toggle_menu a {
    padding: 0;
    margin-right: 2rem;

    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.5rem;

}




























/* FORSIDE */


#forside_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: cover;
}


#forside h1 {
    font-family: 'Lekton', sans-serif;
    font-size: 8rem;
    margin: 0;

    position: absolute;
    top: 18rem;
    left: 15vw;
}

#forside p {
    font-family: 'Lekton', sans-serif;
    font-size: 1.7rem;
    margin: 0;

    position: absolute;
    top: 43vw;
    left: 71vw;
}


















/* web */

#web_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#web .sectionwrapper {
    padding-top: 126px;
}

#web .col {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

#web .col_text {
    flex-basis: 450px;
    flex-grow: 1;
    margin: 20px;
    padding: 1.5rem 2rem 1.5rem 2rem;

    border-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
}

#web .col_image {
    flex-basis: 650px;
    flex-grow: 1;
    margin: 20px;
    padding-top: 40px;
    padding-left: 30px;
}



#web h1 {
    color: #000000;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 0 0 0 56px;
}

.nav_web {
    background: #EDEDED;
}


/* Knap til site */

.art_button {
    width: 25vw;
    height: 2.8vw;
    margin: 0.3rem;
    background-color: #8C2034;
}

.art_button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

/* Knap til styletile */

.styletile_button {
    width: 25vw;
    height: 2.8vw;
    margin: 0.3rem;
    background-color: #D9B18F;
}

.styletile_button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;

}
















/* UX */


#ux_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#ux .sectionwrapper {
    padding-top: 150px;
}


#ux .col {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

#ux .col_text {
    flex-basis: 450px;
    flex-grow: 1;
    border-style: solid;
    margin: 20px;
    padding: 1.5rem 2rem 1.5rem 2rem;

    border-style: solid;
    border-width: 1px;
    background-color: #EDEDED;
}


#ux .col_image {
    flex-basis: 650px;
    flex-grow: 1;
    margin: 20px;
    padding-top: 0;
    padding-left: 30px;
}


#ux h1 {
    color: #000000;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 0 0 0 56px;
}


/* Knap UX */

.proto_button {
    width: 25vw;
    height: 2.8vw;
    margin: 0.3rem;
    background-color: #FFFCB4;
}

.proto_button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}























/* Animation */



#animation_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#animation .sectionwrapper {
    padding-top: 126px;
}

#animation .col {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

#animation .col_text {
    flex-basis: 450px;
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    padding: 1.5rem 30rem 1.5rem 2rem;
    margin: 20px;
    background-color: #EDEDED;
}

#animation .col_image {
    flex-basis: 650px;
    flex-grow: 1;
    margin: 20px;
}



#animation h1 {
    color: #000000;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 0 0 0 56px;
}


/* Eget spil knapper */
.farm_spil_button {
    width: 25vw;
    height: 2.8vw;
    margin: 0.3rem;
    background-color: #75B36F;
}

.farm_spil_button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}


.farm_asset_button {
    width: 25vw;
    height: 2.8vw;
    margin: 0.3rem;
    background-color: #5C95C1;
}

.farm_asset_button a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}


/* Privat spil knapper */
.privat_spil_button {
    width: 25vw;
    height: 2.8vw;
    background-color: #F28F38;
    margin: 0.3rem;
}

.privat_spil_button a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.privat_asset_button {
    width: 25vw;
    height: 2.8vw;
    background-color: #62A1D9;
    margin: 0.3rem;
}

.privat_asset_button a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}






























/* Indhold */

#indhold_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#indhold .sectionwrapper {
    padding-top: 126px;
}

#indhold .col {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

#indhold .col_text {
    flex-basis: 450px;
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 20px;
    background-color: #EDEDED;
}

#indhold .col_image {
    flex-basis: 650px;
    flex-grow: 1;
    margin: 20px;
}

#indhold h1 {
    color: 000000;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 0 0 0 56px;
}


#indhold #video_pilot {
    object-fit: cover;
}











.
