/* GENRELLE INDSTILLINGER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}














/* MENU */


/* unvisited link */
header nav a:link {
    color: #ef2020;
}

/* visited link */
header nav a:visited {
    color: #ef2020;
}

/* mouse over link */
header nav a:hover {
    color: #ff7474;
}

/* selected link */
header nav a:active {
    color: #ff7474;
}


header {
    width: 100%;
    position: fixed;
}


header nav a {
    padding: 0;
    margin: 3rem;

    text-decoration: none;
    font-size: 1.5rem;

}


#burgericon {
    display: none;
    margin: 0;
}

@media screen and (min-width: 831px) {
    .menu_top {
        display: flex;
        justify-content: center;
    }
}


/* TIL BURGER */

@media screen and (max-width:830px) {
    .menu_top a {
        display: none;
    }

    .menu_top a#burgericon {
        float: right;
        display: block;
    }
}


/* Togglemenu */

.hide {
    visibility: hidden;
}

.toggle_menu {
    position: fixed;
    right: 0;
    padding: 0 5px;
    background-color: rgba(229, 229, 229, 0.84);
}


.toggle_menu ul {
    list-style-type: none;
    padding: 1.5rem;
}

/* unvisited link */
.toggle_menu a:link {
    color: #ef2020;
}

/* visited link */
.toggle_menu a:visited {
    color: #ef2020;
}

/* mouse over link */
.toggle_menu a:hover {
    color: #ff7474;
}

/* selected link */
.toggle_menu a:active {
    color: #ff7474;
}


.toggle_menu a {
    padding: 0;
    margin-right: 2rem;

    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2.5rem;

}




























/* FORSIDE */


#forside_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: cover;
}



#forside h1 {
    font-family: 'Lekton', sans-serif;
    font-size: 8rem;
    margin: 0;

    position: absolute;
    top: 18rem;
    left: 15vw;
}

#forside p {
    font-family: 'Lekton', sans-serif;
    font-size: 1.7rem;
    margin: 0;

    position: absolute;
    top: 43vw;
    left: 71vw;
}


















/* web */

#web_body {
    background-image: url(billeder/Artboard%201%20copy%203.svg);
    background-size: cover;
}


#web .sectionwrapper {
    background-color: #EDEDED;
    display: flex;
    flex-wrap: wrap;
    margin: 5.5rem 2rem 5.5rem 2rem;
    border-style: solid;
}

#web .col_text {
    flex-basis: 550px;
    flex-grow: 1;
    margin: 1rem;
    padding: 1.2rem;
    line-height: 1.5rem;
}

#web .col_image {
    flex-basis: 550px;
    flex-grow: 1;
    margin: 1rem;
    justify-content: center;
}

#web h1 {
    color: #f51818;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 3rem 1.5rem 1.5rem 3rem;
}






















/* UX */



#ux .col {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

#ux .text {
    flex-basis: 550px;
    flex-grow: 1;
    border-style: solid;
    margin: 1rem;
    padding: 1.2rem;
    line-height: 1.5rem;

}

#ux .image {
    flex-basis: 550px;
    flex-grow: 1;
    margin: 1rem;
}

.image img {
    max-height: 10vw;
}


#ux h1 {
    color: #ffe200;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin: 1.5rem;
}




















.
